/* reset */
$min-width: 320px; 
$max-width: 1170px; 
$base-bg: #fff; 
$base-font-size: 16px; 
$base-line-height: 1.3; 
$base-font-family: 'Futura PT', sans-serif;
$default-transition:all 0.2s linear;
$padding-left:245px;
$padding-left-2:145px;
$padding-left-3:25px;

/* main variables */
$color-dark:#363636;
$color-yellow:#FFE24F;



$color-blue:#011634;
$color-green:#7AC185;
$color-grey:#535A65;
$color-green-2: #5BA867;
$color-white:#fff;





