
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/


.header{
    z-index: 999;    
    position: relative;
    border: 1px solid #EDEDED;
    .wrapper{
        @include flexbox;
        @include align-items(center);
    }    
    &-left{
        width: 175px;
        margin-top: 10px;
    }
    &-right{
        width:calc(100% - 175px);
        @include flexbox;
        @include align-items(center);
        @include justify-content(flex-end);
    }    
}
.logo{
    width: 175px;
    img{
        width:100%;
    }
}

.nav{
    font-size: 16px;
    line-height: 19px;
    color:$color-dark;
    white-space: nowrap;
    position: relative;
    &-item{
        margin: 0 13px;
        padding: 40px 0;
        position: relative;
        display: inline-block;
        &__link{
            color: inherit;            
            &:hover{
                color: #FFD603;
            }          
            &.active{
                color: #FFD603;
            }
            &.highlited{
                color: #FFD603;
            }
        }
        &.hover{
            .nav-item__link{
                color: #FFD603;
            }
        }
      
    }
}

.header-phone{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: $color-dark;
        margin-left: 45px;
    &:hover{
        color:$color-yellow;
    }
}

.subnav-w{
    display: none;
}
.subnav-wrapper{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    background: #fff;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    padding: 60px 0 36px;
}
.subnav{
    @include flexbox;
    @include flex-wrap(wrap);
    width: 100%;
    &-item{
        width: 33.33%;
        padding-right: 15px;
        padding-bottom: 24px;
        &__link{
            color: rgba(54, 54, 54, 0.6);
            &:hover{
                color: $color-dark;
            }
        }
    }
}

.hamburger { display: inline-block; cursor: pointer; transition-property: opacity,-webkit-filter; -webkit-transition-property: opacity,-webkit-filter; transition-property: opacity,filter; transition-property: opacity,filter,-webkit-filter; -webkit-transition-duration: .15s; transition-duration: .15s; -webkit-transition-timing-function: linear; transition-timing-function: linear; font: inherit; color: inherit; text-transform: none; background-color: transparent; border: 0; margin: 0; overflow: visible; background: transparent;width: 21px; height: 30px; padding: 8px 0px; 
    
}

.hamburger-box { width: 21px; height: 14px; display: inline-block; position: relative; }
.hamburger-inner { display: block; top: 50%; margin-top: -2px; }
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before { width: 21px; height: 2px; background-color: $color-dark; border-radius: 2px; position: absolute; transition-property: -webkit-transform; -webkit-transition-property: -webkit-transform; transition-property: transform; transition-property: transform,-webkit-transform; -webkit-transition-duration: .15s; transition-duration: .15s; -webkit-transition-timing-function: ease; transition-timing-function: ease; }

.hamburger-inner::after, .hamburger-inner::before { content: ""; display: block; }

.hamburger-inner::before { top: -6px;}

.hamburger-inner::after { top: -12px; }

.hamburger--collapse .hamburger-inner { top: auto; bottom: 0;     width: 11px;}

.is-active .hamburger--collapse .hamburger-inner { transform: rotate(45deg); bottom: 6px; width: 26px; right: -3px; border-radius: 50px; }

.is-active .hamburger--collapse .hamburger-inner::after { opacity: 0; }

.is-active .hamburger--collapse .hamburger-inner::before { top: 0; transform: rotate(90deg); width: 26px; border-radius: 50px; }

.hamburger:hover{
    .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
        background-color: $color-yellow;
    }
}

body.overflow { overflow: hidden !important; position: fixed; }
body.menu-open {
    overflow: hidden;
    height: 100vh;
}
body.menu-open .main-wrapper {
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9991;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

.fixed-panel{
    position: fixed;
    top: 0;
    left: 105%;
    right: -105%;
    bottom: 0;
    transition: all 0.6s;
    background: rgba($color-dark, 0.95);
    z-index: 999999;
    overflow: hidden;
    border-left: 10px solid $color-yellow;
    .title{
        color: #FFFFFF;
        margin-bottom: 35px;
    }
}
.fixed-panel__inner{
    overflow: hidden;
    position: relative;
    width: 525px;
    padding: 75px 30px 75px 60px;
    max-width: 100%;
}

.fixed-panel.active{
    left: calc(50% + 65px);
    right: 0;
    overflow-y: auto;
}
.fixed-panel__close{
    position: absolute;
    top: 85px;
    right: 40px;
    font-size: 18px;
    color: $color-white;
    z-index: 999;
    &:hover{
        color: $color-yellow;
    }
}

.sidebar-nav{
    &-item{
        border-bottom: 1px solid rgba(134, 134, 134, 0.4);
        &__title{
            position: relative;
            padding: 35px 70px 35px 0;
           
        }
        &__link{
            font-size: 22px;
            color: #FFFFFF;
            font-weight: 500;
            &:hover{
                color: $color-yellow;
            }
        }
        &__trigger{
            width: 46px;
            height: 46px;
            border: 1.5px solid #fff;
            position: absolute;
            top: 50%;
            margin-top: -23px;
            right: 0;
            color: #fff;
            font-size: 7px;
            @include transition($default-transition);
            cursor: pointer;
            &:before{
                 content: "\e900";
                font-family: 'icomoon';
                
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -6px;
                margin-top: -3.5px;
            }
            &:hover{
                border-color: $color-yellow;
                color: $color-yellow;
            }
        }
        
         &.active{
                .sidebar-nav-item{
                    &__link{
                        color: $color-yellow;
                    }
                    &__trigger{
                        background: $color-yellow;
                        border-color: $color-yellow;
                        color: $color-dark;
                        &:hover{
                            color: $color-dark;
                        }
                    }
                }
            }
    }
    
}

.sidebar-subnav{
    display: none;
    border-top: 1px solid rgba(134, 134, 134, 0.4);
    padding: 38px 0 13px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    &-item{
        margin-bottom: 25px;
        &__link{
            color:inherit;
            &:hover{
                color: $color-yellow;
            }
        }
    }
}

.js-aside-menu{
    margin-left: 40px;
}
.sidebar-nav_mobile{
    display: none;
}
.logo-sidebar{
    display: none;
}

@media screen and (max-width: 1140px){
    .sidebar-nav_mobile{
        display: block;
    }
    .fixed-panel__title{
        display: none;
    }
    .fixed-panel__inner {
        width: 100%;
        padding: 30px 30px 30px 30px;
    }
    .fixed-panel.active{
        left:50%;
    }
    .fixed-panel__close{
        top: 15px;
        right: 15px;
    }
    .nav{
        display: none;
    }
    .header{
        padding: 27px 0;
    }
     .fixed-panel__inner{
        position: absolute;
        top: 80px;
        bottom: 0;
        overflow: auto;
        padding-top: 0;
    }
    .fixed-panel {
       overflow: hidden;
    }
    .fixed-panel__close {
        top: 40px;
        right: 40px;
        font-size: 20px;
    }
    .fixed-panel .title{
        display: none;
    }
    
}
@media screen and (max-width: 991px) {  
    .fixed-panel{
        border-width: 40px;
    }
    .fixed-panel__inner{
        padding-left: 40px;
        padding-right: 40px;
    }
    .fixed-panel.active {
        left: 0;
    }
    .logo-sidebar{
        display: block;
        margin: 35px 0 0 40px;
    }
   
}

@media screen and (max-width: 740px)  {
    .fixed-panel {
        border-width: 50px;
    }
    .logo-sidebar {
        display: block;
        margin: 20px 0 0 20px;
        width: 125px;
        img{
            max-width:100%;
        }
    }
    .logo-sidebar {
        display: block;
        margin: 20px 0 0 20px;
        width: 125px;
    }
    .fixed-panel__inner {
        padding-left: 0;
        border-top: 1px solid rgba(134, 134, 134, 0.4);
        padding-right: 0px;
        margin-left: 20px;
        width: calc(100% - 20px);
        top: 60px;
    }
    .sidebar-nav-item__title {
        padding: 21px 40px 21px 0;
    }
    .sidebar-nav-item__trigger{
        border: none;
        background: none;
    }
    .sidebar-nav-item__trigger:before {
        content: "\e903";
        margin-left: -3.5px;
        margin-top: -6px;
        font-size: 12px;
    }
    .sidebar-nav-item.active .sidebar-nav-item__trigger{
        border: none;
        background: none;
        color: $color-yellow;
    }
    .sidebar-nav-item.active .sidebar-nav-item__trigger:hover{
         color: $color-yellow;
    }
    .sidebar-nav-item.active .sidebar-nav-item__trigger:before{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .fixed-panel__close{
        top: 20px;
        right: 20px;
    }
    .header-left{
        width: 125px;
        margin-top: 5px;
    }
    .header-right {
        width: calc(100% - 125px);
    }
    .header {
        padding: 13px 0 13px;
    }
    .logo {
        width: 125px;
    }
}

@media screen and (max-width: 639px) {
    
}

@media screen and (max-width: 479px) {
   .header-phone{
        display: none;
    }
}

@media screen and (max-width: 350px) {
    
}
